@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

:root {
  --vh: 100%;
}
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 100vw;  
  max-height: 80vh;
  display: flex;
  flex-direction: column;  
  overflow: auto;
}
.containers{
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.logOut {
  margin-top: 50px;
}

/* Nwitter Factory */

.factoryForm {
  background-color: #181818;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-right: 10px;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; 
  position: relative;  */
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 400;
  font-size: 13px;
  width: 76vw;
  margin-left: 10px;
}

.plus {
  position: absolute;
  left: 0;
  bottom: 12.5px;
  background-color: #04aaff;
  height: 35px;
  width: 35px;
  margin-left: 7px;
  font-size: 30px;
  font-weight: 310;
  text-align: center;
  border-radius: 20px;
  color: white;

}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 35px;
  width: 35px;
  padding: 7px 0px;
  margin-right: 7px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.factoryInput__label {
  color: #04aaff;
  cursor: pointer;
}

.photo{
  position: fixed;
  bottom: 65px;
}
.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} 

.factoryForm__attachment img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: right;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Nweet */

.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nweet {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
} 

.nweet div {
  font-size: 15px;
}

.freeForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.my-text-div {
  display: flex;
  justify-content: flex-end;
}
.my-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-text {
  background: #058fd5;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0.7rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 0.7rem;
  margin: 0.25rem 0.8rem;
  max-width: 320px;
  
}

.friend-text-div {
  display: flex;
  justify-content: flex-start;
}

.friend-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3px 0px;
}

.friend-text {
  background: #262626;
  border-radius: 0.7rem;
  color: #fff;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 0.7rem;
  margin: 0.25rem 0.8rem;
  max-width: 320px;
}

.othername {
  padding:0px 12px;
  font-size: 13px;
}

.img_size {
  padding: 6px 5px 0px 5px;
  height: auto;
  width: 200px;
  border-radius: 0.8rem;
  margin-right: 5px;
  margin-left: 5px;
}

.nweet img {
  right: -10px;
  top: 20px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
